.hidden {
    display: none;
}

body {
    height: 100vh;
}

img {
    background-position: center;
    background-size: cover;
}

h1 {
    color: white;
    font-family: monospace;
}

h2 {
    color: white;
    font-family: monospace;
}