.hidden {
    display: none;
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center;
}


h1 {
    color: white;
    font-family: monospace;
}

h2 {
    color: white;
    font-family: monospace;
}