.hidden {
    display: none;
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h2 {
    font-size: x-large;
    color: white;
    font-family: monospace;
}
h1 {
    font-size: large;
    color: white;
    font-family: monospace;
}
#todo-list {
    color: white;
    font-family: monospace;
}