.hidden {
    display: none;
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h2 {
    font-size: 50px;
    color: white;
    font-family: monospace;
}
h1 {
    font-size: 40px;
    color: white;
    font-family: monospace;
}
#todo-list, #weather {
    color: white;
    font-family: monospace;
}

button {
    border: none;
}